
md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  background-color: #FFFFFF;
}

.mat-input-container {
  
    width: 80%;
    font-size: 20px;
}

.mat-select
{
  width:100%;
}
#headline
{
  font-size:25px;
}

.mat-grid-tile
{
  height: 10px;
}

td
{
  width:70%;
  text-align:left;
}

.container
{
padding-left:10%;
  padding-right:10%;

}

img
{
  max-width: 100%;
  height: auto;
}

table 
{
  tr
  {
    td, th
    {
  align-content: center;
  text-align: center;
  
    }
  }
}