<md-card>

<form [formGroup]="newsForm" (ngSubmit)="onSubmit(newsForm.value)">
    <md-input-container>
        <input id="headline"  mdInput placeholder="Headline" formControlName="headline">
    </md-input-container>
    <div *ngIf="newsForm.controls['headline'].hasError('required') && newsForm.controls['headline'].touched">
          Please enter headline
     </div>
     <div *ngIf="newsForm.controls['headline'].hasError('maxlength') && newsForm.controls['headline'].touched">
          Headline cannot exceed 100 characters
    
    </div>
    
    <md-input-container>
     <textarea rows=8 mdInput placeholder="Description" formControlName="description"></textarea>
    </md-input-container>
   <div *ngIf="newsForm.controls['description'].hasError('required') && newsForm.controls['description'].touched ">
          Please enter description
     </div>
 
    <md-input-container>
        <input mdInput placeholder="Image Src" formControlName="imageSrc">
    </md-input-container>

    <md-input-container>
     <input rows=8 mdInput placeholder="News Link" formControlName="newsLink">
    </md-input-container>

    <br>
     

<div class="container">
  
  <div class="row">
    <div class="col-sm-6">
      <md-select class="craveNews-leftAlign" placeholder="News Source" formControlName="selectedNewsSource">
                <md-option *ngFor="let newsSource of newsSources" [value]="newsSource">{{newsSource}}</md-option>
    </md-select>
            
    </div>
    <div class="col-sm-6">
    <md-radio-group formControlName="techNonTech">
        <div class="col-sm-3">
             <md-radio-button value="Technical">Technical</md-radio-button>
        </div>
        <div class="col-sm-3">     
                <md-radio-button value="Non-Technical">Non-Technical</md-radio-button>
        </div>
    </md-radio-group>
        
    </div>



  </div>
</div> 
    <br>
 <button *ngIf="!isEditNewsItem" type="submit"  [disabled]="!newsForm.valid" class="btn btn-primary" md-button>Add News</button>  
 <button *ngIf="isEditNewsItem" type="submit"  [disabled]="!newsForm.valid" class="btn btn-primary" md-button>Update News</button>  
 <button *ngIf="isEditNewsItem" type="reset"  class="btn btn-primary" md-button>Cancel Update</button>  
  
</form>


<app-list-news (onEditNewsItemForAddNews)="onEditNewsItemForAddNews($event)"></app-list-news>



<div class="alert alert-dismissible alert-danger" *ngIf="errorMessage">
  <button class="close" type="button" data-dismiss="alert">&times;</button>
  <strong>{{errorMessage}}</strong>
</div>


</md-card>

